# Bytecode
__pycache__/
*.pyc

# Virtual environment
.venv/

# Setuptools / pip
build/
dist/
*.egg-info/
*.egg

# Pytest
.pytest_cache/

# Flatpak
.flatpak-build/
.flatpak-builder/
*.flatpak
build-aux/.local-manifest.json
